.plantilla {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
}

.jumbotron {
 background: no-repeat url(/imagenes/background.jpg);
 background-size: cover;
 
}


.logo{
    width: 150px;
}

.seccionnuestrosclientes{
    background-color: rgb(33,103,175);
}
.nuestrosclientes{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logosclientes{
    width: 120px;
}

.contactenos
{
    background-color: rgb(0,58,116);
}