h1 {
 font-size: 12 rem;
 padding: 20px;
}

div.contenedordeenlaces a {
text-decoration: none;
}

/*.plantilla {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr;
}*/

/*navbar*/

.logo{
    width: 150px;
}

/*seccion quienes somos*/
.jumbotron {
 background: no-repeat url(/imagenes/background.jpg);
 background-size: cover;
}
.sec_mision_img{
    width: 100%;
}

/*seccion nuestros valores*/
.iconos_servicios{
        /* width: 100px; */
        color: #003d7c;
        
    }


/*seccion nuestros clientes*/

.seccionnuestrosclientes{
    background-color: rgb(33,103,175);
}


/*catalogo de servicios*/
.sec_catalogo_servicios{
    background-color: rgb(239, 235, 235);

}
.sec-catalogo_img{
    width: 200px;
}



/*seccion clientes*/
.logosclientes{
    height: 100px;
    border-top-style: solid;
    
}

.contactenos
{
    background-color: rgb(0,58,116);
}

/*footer*/
.icono {
    color: grey;
    text-decoration: none;
}

/*mediaqueries*/

@media (max-width: 992px){
    .sec_mision_divimg{
        display: none !important;
    }

    .media-valores{
        
        flex-direction: column;
        
    }

    .iconos_servicios{
        font-size: 70px;
    }

    .media-catalogo{
        display: none !important;
    }
    .media-servicios {
        flex-direction: row !important;
    }
    .media-contactenos{
        display: none;

    }
}